# dependencies
node_modules/
.bun/

# next.js
.next/
out/

# build
dist/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# data
*.db
*.db-wal
*.db-shm

# os
.DS_Store
Thumbs.db

# editors
.idea/
.vscode/
*.swp
*.swo
.vercel
